@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Quicksand", serif;

}
/* sherd style */
.flex{
    display: flex;
}
.a-center{
    align-items: center;
}
.j-sp-around{
    justify-content: space-around;
}
.j-center{
    justify-content: center;
}
.flex-col{
    flex-direction: column;
}
.gap-10{
    gap: 10%;
}
.gap-20px{
    gap: 20px;
}
.ml-5{
    margin-left: 5px;
}
.ml-10{
    margin-left: 10px;
}
.pt-10{
    padding-top: 10px;
}
/* style for Desktop navigation */
.logo .img{
    width: 40px;
}
.logo .img img{
    width: 100%;
}
ul {
    list-style: none;
}
ul li{
    padding-left: 20px;
}
ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.btn button{
    padding: 10px 20px;
    border: none;
    background-color: rgb(254, 163, 1);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}
.menu-btn{
    display: none;
}
/* Desktop navigation end */

/* style for hero section */
.hero-container{
    /* gap: 20%; */
}
.hero-container .hero-content{
    width: 50%;
}
.hero-content h1{
    color: #111111;
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.hero-content p{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.enroll_btn button{
    padding: 10px 20px;
    border: none;
    background-color: #111111;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}
.hero-container .img{
    width: 400px;
}
.hero-container .img img{
    width: 100%;

}

/* navigation for mobile */
@media screen and (max-width: 575px) {
    /* CSS rules go here */
    header{
        border: 1px solid rgb(254, 163, 1);
        gap: 70%;
        width: 100%;
    }
    .logo h1, .ul, .btn{
        display: none;
    }
    .menu-btn{
        display: block;
        margin-top: -10px;
    }
    .menu-btn button{
        background-color: transparent;
        border: none;
        font-size: 25px;
        color: #333;
    }
    .logo .img{
        width: 35px;
    }
    .img img{
        width: 100%;
    }
    /* responsive hero section */
    .hero-container{
        flex-direction: column-reverse;
    }
    .hero-content{
        display: flex;
        flex-direction: column;
    }

}
/* end for navigation for mobile */